# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
data/
saved_process/processed_pickles/ingredients_text/
saved_process/processed_pickles/_diet/data_with_diets.pkl
